<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-header h5 text-white bg-primary text-center"><%= t('pages.passwords.edit.card_header')%></div>
    <div class="card-body px-5">
      <%= form_with url: password_path(token: params[:token]), method: :put do |form| %>
        <%= form.label :password, t('pages.passwords.edit.labels.password') %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t('pages.passwords.edit.placeholders.password'), maxlength: 72, class: "form-control mb-3" %>
        <%= form.label :password_confirmation, t('pages.passwords.edit.labels.password_confirmation') %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t('pages.passwords.edit.placeholders.password_confirmation'), maxlength: 72, class: "form-control mb-3" %>
        <%= form.submit t('pages.passwords.edit.submit'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
