<% form_options = {
      new: {
        url: posts_path,
        method: :post,
        submit: I18n.t("pages.posts.form.submit.create")
      },
      edit: {
        url: (post_path(id: post.id) if post.persisted?),
        method: :patch,
        submit: I18n.t("pages.posts.form.submit.update")
      }
    }[usage]
 %>

<%= form_with(model: post, url: form_options[:url], method: form_options[:method]) do |form| %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit form_options[:submit], class: 'btn btn-primary px-4' %>
  </div>
<% end %>
