<div id="<%= dom_id post %>">
  <div class="card mb-3">
    <div class="card-header">
      <% if usage == :index %>
        <h5 class="card-title my-1"><%= link_to post.title, post_path(post.id) %></h5>
      <% else %>
        <h5 class="card-title my-1"><%= post.title %></h5>
      <% end %>
    </div>
    <div class="card-body">
      <%= post.content %>
    </div>
    <div class="card-footer text-muted">
      <small>Author: <%= post.user.username %></small>
    </div>
  </div>

</div>
